<div class="home-section" style=" text-align:center;">
   <section class="page-section" id="about">
    <div class="container relative">
        
          <a href="/poster/create" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true" style="float:right; top:-20;">load post</a>
          <h2 class="section-title font-alt align-left mb-70 mb-sm-40">
              POSTERS ABOUT..
          </h2>
        
        
        <div class="row">
            
            <!-- Team item -->
            <% @every_post.each do |p|%>
            <div class="col-sm-4 mb-xs-30 wow fadeInUp">
                <div class="team-item">
                    <div class="team-item-image">
                        
                        <%= image_tag("#{p.image}") %>
                        
                        <div class="team-item-detail">
                            <h4 class="font-alt normal"><%=p.host%></h4>
                            
                            <p>
                                <%= p.intro %> 
                            </p>
                            
                            <div class="team-social-links">
                                <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                                <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                                <a href="#" target="_blank"><i class="fa fa-pinterest"></i></a>
                            </div>
                            
                        </div>
                    </div>
                    
                    <div class="team-item-descr font-alt">
                        
                        <div class="team-item-name">
                            <%=p.host %>
                        </div>
                        
                        <div class="team-item-role">
                            <%= p.place %>
                        </div>
                        
                    </div>
                    
                </div>
            </div>
            <!-- End Team item -->
            <% end%>
            
        </div>
    </div>
</section>
<!-- End About Section -->
</div>