<section class="page-section" id="login">
    <div class="container relative">
        <div class="row">
          <h2 class="section-title font-alt align-center mb-70 mb-sm-40">
            Kangnam News Login
          </h2>
        
          <div class="col-sm-12 mb-40 login_box">
              <%= form_for(resource, as: resource_name,url: session_path(resource_name), class: "form new_user") do |f| %>
              <div class="mb-20 mb-md-10">
                <%= f.email_field :email, autofocus: true, class:"input-md form-control",placeholder:"email" %>
              </div>
              <div class="mb-20 mb-md-10">
                <%= f.password_field :password, autocomplete:"off",class:"input-md form-control",placeholder:"password" %>
              </div>
              <% if devise_mapping.rememberable? -%>
              <div class="mb-20 mb-md-10 flex_line">
                  <%= f.label :remember_me, class:"checkbox-inline"%>
                  <%= f.check_box :remember_me %>
              </div>
              <div class="mb-20 mb-md-10">
                 <label class="checkbox-inline">
                      <%= render "devise/shared/links" %>
                  </label>
              </div>
              <% end -%>
              <div class="actions checkbox-inline">
                <%= f.submit "Login" %>
              </div>
            <% end %>
          </div>
        </div>
    </div>
</section>
